<nav class="top-0 gap-4 absolute z-50 w-full flex justify-end px-2 py-3 bg-slate-700 text-white">
  <a class="hover:underline pointer" routerLinkActive="text-blue-200 underline" routerLink="/pokemon/page/1">Pokemon</a>
  <a class="hover:underline pointer" routerLinkActive="text-blue-200 underline" routerLink="/pricing">Precios</a>
  <a class="hover:underline pointer" routerLinkActive="text-blue-200 underline" routerLink="/about">Acerca de</a>
  <a class="hover:underline pointer" routerLinkActive="text-blue-200 underline" routerLink="/contact">Contacto</a>

</nav>